@import '../../style/valiables';
@import '../../style/mixins';

.presentation-info {
  background-color: $background-yellow;
  box-sizing: border-box;
  padding: 15px;
  justify-content: center;

  @include middle {
    padding: 40px;
  }

  @include xlarge {
    padding: 45px;
  }

  &__name-info {
    padding: 0 0 50px 0;

    @include middle {
      padding: 0 0 60px 0;
    }

    &__cv-text {
      text-align: center;
      font-size: 19px;

      @include middle {
        font-size: 22px;
      }
    }
  }

  &__contact-info {
    padding: 0 0 15px 0;

    &__info-text {
      display: flex;
      flex-direction: row;
      box-sizing: border-box;
      padding: 0 20px 15px 20px;
    }

    p {
      margin: 0 0 0 15px;
    }

    @include xlarge {
      position: absolute;
      bottom: 80px;
    }
  }

  h1 {
    font-size: 55px;
    text-align: center;
    font-weight: 500;
    box-sizing: border-box;
    padding: 0 0 5px 0;

    @include middle {
      font-size: 75px;
      padding: 0 0 15px 0;
    }
  }

  a {
    color: $background-black;
  }
}
