$background-yellow: #ffc436;
$background-blue: #2b83f5;
$background-black: #000000;
$text-brown: #af830b;

@-webkit-keyframes color_change {
  from {
    border-color: $background-yellow;
  }
  to {
    border-color: $background-blue;
  }
}
@-moz-keyframes color_change {
  from {
    border-color: $background-yellow;
  }
  to {
    border-color: $background-blue;
  }
}

@keyframes color_change {
  from {
    border-color: $background-yellow;
  }
  to {
    border-color: $background-blue;
  }
}
